header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 999;
    
}

.logoMovease{
    height: 4em;
}

.panier{
    height: 2.5em;

}

/* .internal-links a:hover{
    transform: scale(1);
} */

a {
    color: #fff;
    padding: 10px;
    top: 0px;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.1em;
}
a:hover{
    color: rgb(179, 16, 220);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

/* .lookingForBar{
  justify-content: flex-end;
    align-items: flex-end; 
    position: relative;
    left: 10em;
    top: 10px;
    top: 0.3vw;
} */

nav ul {
    margin-left: 23px;
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.login img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
}

.login{
    border-radius: 100%;
    position: relative;
    right: 15px;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

input{
    border-radius: 5px;
}

.listNavBar{
    display: flex;
    align-items: flex-end;
    background-color: #333;
    color: #fff;
    padding: 10px;

}

.search-form img{
    position: relative;
    width: 25px;
    right: 5px;
}

.search-form button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.search-form input {
    padding: 5px;
    margin-right: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-media img {
    width: 30px;
    margin-right: 10px;
    
}