header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: sticky;
    top: 0px;
    z-index: 999;
    
}

.logoMovease{
    width: 10vw;
    height: auto;
}

a:hover{
    color: rgb(179, 16, 220);
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.lookingForBar{
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    left: 160px;
    top: 10px;
}

nav ul {
    margin-left: 23px;
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

.login img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: relative;
    top: 3px;
}

.login{
    border-radius: 100%;
    position: relative;
    right: 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.navBar {
    display: flex;
    justify-content: space-between;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

input{
    border-radius: 5px;
}

.listNavBar{
    display: flex;
    align-items: flex-end;
}

.search-form img{
    width: 25px;
}

.search-form button{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.search-form input {
    padding: 5px;
    margin-right: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-media img {
    width: 30px;
    margin-right: 10px;
    
}

.internal-links a{
    color: white;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.internal-links a:hover{
    transform: scale(1);
}