*{
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.banniere{
    max-width:100% ;
}

.affiche{
    max-height: 15vw;
    width: auto;
    margin-left: 20px;
}

.affiche:hover{
    transform: scale(1.15);
}
.details {
    padding-left: 27px;
    padding-top: 25px;
}

.horizontalScroll{
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
}

.total {
    font-size: 2em;
}
.recherche{
    display: flex;
    justify-content: space-around;
}